@font-face {
    font-family: r;
    src: url(./fonts/RubikDistressed-Regular.ttf);
}
@font-face {
    font-family:E;
    src: url(./fonts/Pacifico-Regular.ttf);
}


*{
    margin: 0px;
padding:0px ;
box-sizing: border-box;
scroll-behavior: smooth;
}

nav ,footer{
    background-color:green;
    width: 100%;
    
}
nav a {
    text-decoration: none;
    color:aquamarine;
    font-weight: bold;
   text-transform: uppercase;
 display: inline-block;
 padding: 10px 15px;

}
nav a:hover {background-color: gray;}

.x {
    float: right;
}
 .F{ text-align: center;
    padding: 20px;
    line-height: 60px;
background-color:aliceblue

}
section h1{
    font-size: 45px;
    font-family:r;
    color:green
}
section p {
    font-size: 30px;
    font-family:E;
    color:green;
}
section p span:hover {
   background-color: green;
   color: white;
   font-size: larger;
   text-transform: uppercase;
   padding: 0px 10px;

 
    
}
header {
    position: relative;
}
header section {
    position: absolute;
    top: 40%;
    right: 55%;
   
}
header section  p{color: aquamarine;
    padding-bottom: 25px;
    text-align: left;
}
header section button {
    padding: 10px;
    background-color: CadetBlue  ;
    color: aliceblue;
    border: 0px;

}
header section button:hover{
  border-radius: 10px 20px 10px 20px ; 
  background-color: aliceblue ;
  color: CadetBlue;
  font-weight: bolder;
}

main{
    background-color:DarkSeaGreen;
    height: auto;
    overflow: auto;
    margin-top: -5px;
}

main #leftside{
    display: inline-block;
    width: 70%;
    background-color:DarkSeaGreen;
    float: left;
    padding: 20px;
}

.sec1{
    background-color: aliceblue;
    padding: 20px;
    margin: 20px 0px;
}
.ph{
    text-align: center;
    color: green;
    font-family: E;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}
div article.trees{
    font-family: E;
    text-align: justify;
    
}
div article p {

}

article span {
    color: green;
    font-weight: bold;

}

.button{
    padding: 40px 20px;
}
.like{
    float: left;
padding: 10px;
font-size: 16px;
color: rgb(18, 19, 18);
background-color:DarkSeaGreen ;
border: none;
} 
.like:hover{
    background-color: rgb(175, 211, 175);
}
.replies{
    float: right;
    padding: 10px;
    font-size: 16px;
    color: rgb(12, 12, 12);
background-color:DarkSeaGreen ;
border: none;

}
.replies span{
    background-color: green;
    padding: 5px 10px;
    color: #000;
   
}
 .replies:hover{
    background-color: rgb(175, 211, 175);
}

div hr{
    opacity: 50%;
}
.model {
   display: inline-block;
   float: left;
 width: 10%;
 margin: 5px 0px;
}
.birth{
    display: inline-block;
    float: right;
    width: 90%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: larger;
    padding: 10px;
    text-align: justify;
   
}
 .birth span{
    color: rgb(182, 179, 179);;
}
.coment{
    line-height: 60px;
    font-weight: 400;
}
.clear{
    clear: both;
    content: " ";
}

main #rightside{
    display: inline-block;
    width: 30%;
    background-color:DarkSeaGreen;
    float: right;
    padding: 40px 10px;

}
main #rightside article{
   
}

main #rightside article div{
    color: rgb(1, 15, 1);
    text-align: justify;
    line-height: 30px;
    font-family: E;
    padding-bottom: 20px;
 
}
main #rightside article div h1{
    padding-left: 20px;
    font-weight: bold;
    font-family: 'R';
}

main #rightside article div h3{
    font-size: 20px;
    padding: 10px;
    font-weight: bolder;
      background-color:rgb(0, 5, 8);
      color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main #rightside article div{
    padding-bottom: 10px;
}


main #rightside article div .articlebody{
    background-color: #fff;
  height:auto ;
  overflow: auto;


}
main #rightside article .b1{
 

}  
main #rightside article .b1 .articledes{ 




}


main #rightside article .b1 .articledes .imgdes{
float: left;
 width: 20%;
 padding: 10px;

 
}

main #rightside article .b1 .articledes .textdes{
    width: 80%;
    padding-left:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 

}

main #rightside article .b1 :hover{
    background-color: gray;
}

main #rightside article .b2{
    padding: 10px;

}

main #rightside article .b2 p{
background-color:lightgray;
text-align: center;
padding: 60px;



}
main #rightside article .b2 i{
    margin: 10px;
    color: green;


}
main #rightside article .b3 {
    padding: 10px; 
}

main #rightside article .b3 span{ 
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    font-weight: bold; 
    background-color:lightgray;
    margin: 5px;
    display: inline-block;
    padding: 0px 5px;
}

   
 main #rightside article .b4 {
    padding: 5px;
   


} 

main #rightside article .b4 image{
    display: inline-block;
    padding: 5px;
    
} 
main #rightside article .b5 :hover {
    color:gray;
} 
main #rightside article .b5{
    padding: 5px;
    font-size: larger;
}

main #rightside article .b5 i{
   padding: 3px;
}
main #rightside article .b6{
    padding: 7px;

}
main #rightside article .b6 form{
    

}
main #rightside article .b6 form label{
    display: block;
    width: 100%;
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 7px 0px;
    text-transform: capitalize;
    font-weight:bolder
}


main #rightside article .b6 form input{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 7px 0px;

}
main #rightside article .b6 form button{
display: block;
width: 100%;
 background-color: rgb(175, 8, 8);
 border: none;
 padding: 10px;
 color: #fff;
 margin: 7px 0px;
}
main #rightside article .b6 form button:hover{
background-color: rgb(80, 2, 2);
}




footer{
    padding: 10px;
    line-height: 50px;

}


footer a{
    padding: 5px 15px;
    background-color: CadetBlue  ;
    color: aliceblue;
    border: 0px;
    text-decoration: none;
}
footer a:hover{
    border-radius: 10px 20px 10px 20px ; 
    background-color: aliceblue ;
    color: CadetBlue;
    font-weight: bolder;
}

footer p {
    font-family: E;
    font-size: 32px;
    color: aquamarine;
}
footer p span:hover{
    text-transform: uppercase;
    text-decoration: double;
    background-color: red;
    color: black;
}

.sub{
    position: fixed;
    top:0px;
    width: 100%;
    height: 100%;
    background-color:rgba(160, 160,160, 0.6);
    display: none;
}
.subform{
    background-color: #fff;
    padding: 20px;
    width: 60%;
    height: auto;
    margin: 200px auto;
}
.subform h1{
    letter-spacing: 5px;
    font-size: larger;
    text-transform:uppercase;
    font-weight: bold;
font-size: 32px;
    
}
 .x{
    float: right;
    display:block;
    margin:0px ;
    padding: 5px 10px;
    background-color:white ;
    font-weight: 900px;
    font-size: larger;
    border: none;
   font-size: 25px;
    
}

.x:hover{ background-color: lightgray;}



.subform label{
    display: block;
    width: 100%;
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-size: larger;
   
  
   
}
.subform  input{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 7px 1px;

}
.btnsub{
    display: block;
width: 100%;
 background-color: rgb(175, 8, 8);
 border: none;
 padding: 10px;
 color: #fff;
 margin: 7px 1px;

}
.btnsub:hover{
    background-color: rgb(80, 2, 2);
    color: #000;
}




@media screen and (max-width: 900px) {
    header section{  top:0px;}

    header section p {
      
        font-size: 20px;

    }

    main #leftside,main #rightside{
        display: block;
width: 100%;
}
}